.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

#collage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

#collage img {
    width: 100%;
    height: auto;
}

#menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#menu > div {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    #collage {
        grid-template-columns: 1fr;
    }

    #menu {
        grid-template-columns: 1fr;
    }
}